@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pangolin);
  --font-mono: var(--font-pangolin);
}

@theme {
  --color-vermelho: #CA4E4A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}